div h1 {
  background-color: brown;
  color: whitesmoke;
}

#none {
  display: none;
}

#op-1 {
  opacity: 1;
  /* Max value */
}

#op-5 {
  opacity: 0.5;
}

#op-0 {
  opacity: 0;
  cursor: pointer;
}

#hidden {
  visibility: hidden;
}
